#################
#Temporary files#
#################
*.swp
*.pyc
.env/*
__pycache__/*


#################
#Data      files#
#################
data/*

###############
#Jupyter files#
###############
.ipynb_checkpoints/*
.idea/*